// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";


//Navigation
#nav-back {
    justify-content: flex-end;
}

li {
    display: inline-block;
}

.nav-padding {
    margin-top: 10px;
    margin-right: 20px;
}


//Container
.container {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    
}

.row {
    justify-content:  center;
}


//Logo
#google-logo {
    width: 22%;
    height: 22%;
}

//Form
#form-div {
    text-align: center;
}

.form-control:hover {
    border-color: rgba(228, 228, 228, 0.8);
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(209, 209, 209);
}


.form-control:focus {
    border-color: rgba(228, 228, 228, 0.8);
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(209, 209, 209);
}


//Search bar
#search-bar {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

//Search buttons
#search-button {
    margin-right: 1%;
    width: 14%;
    background-color: rgb(250, 250, 250);
}

#lucky-button {
    margin-left: 1%;
    width: 14%;
    background-color: rgb(250, 250, 250);
}

.button-row {
    display: flex;
    justify-content: center;
}




//Media queries for responsive design
@media (max-width: 992px) {
    #google-logo {
        width: 40%;
        height: 40%;
    }

    #search-bar {
        width: 50%;
    }

    #search-button {
        width: 20%;
        font-size: 0.8em;
    }

    #lucky-button {
        width: 20%;
        font-size: 0.8em;
    }

    #nav-bar-div {
        width: 50%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    li {
        width: 40%;
    }
}

@media (max-width: 767px) {
    #google-logo {
        width: 40%;
        height: 40%;
    } 

    #search-bar {
        width: 70%;
    }

    #search-button {
        width: 20%;
    }

    li {
        width: 60%;
    }

    #nav-bar-div {
        width: 50%;
    }

    #search-button {
        width: 30%;
        font-size: 0.7em;
    }

    #lucky-button {
        width: 30%;
        font-size: 0.7em;
    }
}

@media (max-width: 576px) {
    #google-logo {
        width: 50%;
        height: 50%;
    } 

    #search-bar {
        width: 60%;
    }

    #search-button {
        width: 25%;
    }

    #nav-bar-div {
        width: 60%;
    }

    li {
        width: 80%;
    }
}


